[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]

[packages]
bs4 = "*"
scrapy = "*"
pandas = "*"
jieba = "*"
wordcloud = "*"
numpy = "==1.16.6"
requests = {extras = ["socks"],version = "*"}
matplotlib = "*"
pyecharts = "*"
flask = "*"
xlwt = "*"
xlrd = "*"
django = "*"
loguru = "*"
redis = "*"
sqlalchemy = "*"
tencentcloud-sdk-python = "*"
pymysql = "*"

[requires]
python_version = "3.7"
